<a href="https://colab.research.google.com/github/shiraz786/AzureUdemyPractice/blob/main/SparkPractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
pip install Spark pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 KB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 23.8 MB/s eta 0:00:00
Building wheels for collected packages: Spark, pyspark
  Building wheel for Spark (setup.py) ... done
  Created wheel for Spark: filename=spark-0.2.1-py3-none-any.whl size=58761 sha256=034102f50b0cf69ac56c1fec076066f31eb06e7e63f3a8bb2333416519ef2569
  Stored in directory: /root/.cache/pip/wheels/c5/19/ff/9b16f354528bc9698ec3286be7947ebbf1f8391325553961d4
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=a82e3daf5afb1da4bf99b3b4853829e6c5d8cebecb638801be3bad7a1c34bf2b
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built Spark pyspark
Installing collected packages: Spark, py4j, pyspark
Successfully installed Spark-0.2.1 py4j-0.10.9.5 pyspark-3.3.1

In [5]:
#@title Must Import Packages
from pyspark import SparkContext, SparkConf, sql
from pyspark.sql import Row
sc = SparkContext.getOrCreate()
sqlContext = sql.SQLContext(sc)
# Import SparkSession
from pyspark.sql import SparkSession
# Create a Spark Session
spark = SparkSession.builder.master("local[*]").getOrCreate()
# Check Spark Session Information
spark

/usr/local/lib/python3.8/dist-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [42]:
#@title Creating Dataframe from Text file
df_MD=spark.read.options(sep='@@#',header='true').csv("File:////content//drive//MyDrive//Pyspark Practice folder//multipledelimiter.txt")
df_MD.show()

+----+---+
|name|age|
+----+---+
|  ss| 41|
|  aa| 52|
+----+---+

In [56]:
#@title Creating Data Frames
df_cust= spark.read.options(inferschema='true', sep=',', header='true').csv("File:///content//drive//MyDrive//Pyspark Practice folder//customer_data.csv")
df_prod= spark.read.options(inferschema='true', sep=',', header='true').csv("File:///content//drive//MyDrive//Pyspark Practice folder//product_data.csv")
df_order= spark.read.options(inferschema='true', sep=',', header='true').csv("File:///content//drive//MyDrive//Pyspark Practice folder//order_data.csv")
df_cust.show()
df_prod.show()
df_order.show()

+---+----------+----------+--------------------+------+
| id|first_name| last_name|               email|gender|
+---+----------+----------+--------------------+------+
|  1|     Kandy|Lindermann|klindermann0@gith...|Female|
|  2|  Kahaleel|     Lalor|klalor1@infoseek....|  Male|
|  3|    Josiah|   Tolland|jtolland2@prnewsw...|  Male|
|  4|  Rosamond|      Troy|     rtroy3@1und1.de|Female|
|  5|    Aharon| McTrustam|amctrustam4@opens...|  Male|
|  6|       Kat|    Skully|     kskully5@nhs.uk|Female|
|  7|      Land|    Waltho|lwaltho6@friendfe...|  Male|
|  8|     Trent|   Holwell|tholwell7@histats...|  Male|
|  9|      Lalo|  Bernette|lbernette8@acquir...|  Male|
| 10|   Elsbeth|     Grzes|egrzes9@aboutads....|Female|
| 11|    Odella|    Scally|  oscallya@webmd.com|Female|
| 12|  Ruprecht| Mattisson|rmattissonb@alter...|  Male|
| 13|   Stewart|   Pettman|spettmanc@comcast...|  Male|
| 14|     Mable|     Biner|  mbinerd@reddit.com|Female|
| 15| Frederich|  Fitzpayn|ffitzpayne@pinter...|  Male|
| 16|    Elysee|   Qusklay|equsklayf@nsw.gov.au|Female|
| 17|   Kerstin|   Kensley|kkensleyg@over-bl...|Female|
| 18|    Lowell|  Yakunkin|lyakunkinh@arizon...|  Male|
| 19|    Weidar|    Megany|wmeganyi@rakuten....|  Male|
| 20|   Peterus|  Getcliff|pgetcliffj@csmoni...|  Male|
+---+----------+----------+--------------------+------+
only showing top 20 rows

+---+----------+-------+
|pid| pcategory|  price|
+---+----------+-------+
|  1|      Toys|$289.41|
|  2|Industrial|$567.32|
|  3|  Clothing|$544.64|
|  4|    Sports|$581.58|
|  5|  Clothing|$580.28|
|  6|    Sports|$431.26|
|  7|Industrial|$725.90|
|  8|Industrial|$823.94|
|  9|  Outdoors|$418.75|
| 10|      Baby|$923.32|
| 11|    Beauty|$397.32|
| 12|   Jewelry| $22.91|
| 13|     Music|$485.45|
| 14|    Beauty|$566.22|
| 15|    Beauty|$235.97|
| 16|     Shoes| $15.97|
| 17|  Outdoors|$494.29|
| 18|  Outdoors|$948.60|
| 19|   Jewelry|$549.94|
| 20|  Clothing|$333.10|
+---+----------+-------+
only showing top 20 rows

+---+---+---+----------+
|oid|cid|pid|  order_ts|
+---+---+---+----------+
|  1| 35| 50|  6/1/2022|
|  2| 93| 22|11/27/2022|
|  3| 87| 24| 9/27/2022|
|  4| 94| 77|  3/6/2022|
|  5|  9| 92| 6/23/2022|
|  6| 53| 85| 12/8/2022|
|  7| 44| 97| 3/29/2022|
|  8|  0|  5| 7/17/2022|
|  9| 15| 48|  4/2/2022|
| 10| 22| 63| 6/22/2022|
| 11| 59| 77|12/20/2022|
| 12| 17| 60| 3/30/2022|
| 13| 75| 92|  6/7/2022|
| 14|  7| 65| 8/23/2022|
| 15| 14| 69|  8/2/2022|
| 16| 10|  0| 12/2/2022|
| 17| 85| 64| 1/14/2022|
| 18| 54| 10|  9/4/2022|
| 19| 11| 24| 5/21/2022|
| 20| 39| 46|12/22/2022|
+---+---+---+----------+
only showing top 20 rows

In [45]:
#@title Inner Join
Inner= df_cust.join(df_order,df_cust.id==df_order.oid,"inner")
Inner.show()

+---+----------+----------+--------------------+------+---+---+---+----------+
| id|first_name| last_name|               email|gender|oid|cid|pid|  order_ts|
+---+----------+----------+--------------------+------+---+---+---+----------+
|  1|     Kandy|Lindermann|klindermann0@gith...|Female|  1| 35| 50|  6/1/2022|
|  2|  Kahaleel|     Lalor|klalor1@infoseek....|  Male|  2| 93| 22|11/27/2022|
|  3|    Josiah|   Tolland|jtolland2@prnewsw...|  Male|  3| 87| 24| 9/27/2022|
|  4|  Rosamond|      Troy|     rtroy3@1und1.de|Female|  4| 94| 77|  3/6/2022|
|  5|    Aharon| McTrustam|amctrustam4@opens...|  Male|  5|  9| 92| 6/23/2022|
|  6|       Kat|    Skully|     kskully5@nhs.uk|Female|  6| 53| 85| 12/8/2022|
|  7|      Land|    Waltho|lwaltho6@friendfe...|  Male|  7| 44| 97| 3/29/2022|
|  8|     Trent|   Holwell|tholwell7@histats...|  Male|  8|  0|  5| 7/17/2022|
|  9|      Lalo|  Bernette|lbernette8@acquir...|  Male|  9| 15| 48|  4/2/2022|
| 10|   Elsbeth|     Grzes|egrzes9@aboutads....|Female| 10| 22| 63| 6/22/2022|
| 11|    Odella|    Scally|  oscallya@webmd.com|Female| 11| 59| 77|12/20/2022|
| 12|  Ruprecht| Mattisson|rmattissonb@alter...|  Male| 12| 17| 60| 3/30/2022|
| 13|   Stewart|   Pettman|spettmanc@comcast...|  Male| 13| 75| 92|  6/7/2022|
| 14|     Mable|     Biner|  mbinerd@reddit.com|Female| 14|  7| 65| 8/23/2022|
| 15| Frederich|  Fitzpayn|ffitzpayne@pinter...|  Male| 15| 14| 69|  8/2/2022|
| 16|    Elysee|   Qusklay|equsklayf@nsw.gov.au|Female| 16| 10|  0| 12/2/2022|
| 17|   Kerstin|   Kensley|kkensleyg@over-bl...|Female| 17| 85| 64| 1/14/2022|
| 18|    Lowell|  Yakunkin|lyakunkinh@arizon...|  Male| 18| 54| 10|  9/4/2022|
| 19|    Weidar|    Megany|wmeganyi@rakuten....|  Male| 19| 11| 24| 5/21/2022|
| 20|   Peterus|  Getcliff|pgetcliffj@csmoni...|  Male| 20| 39| 46|12/22/2022|
+---+----------+----------+--------------------+------+---+---+---+----------+
only showing top 20 rows

In [49]:
#@title Outer Join
outer= df_cust.join(df_order,df_cust.id==df_order.oid,'outer')
outer.show()

+---+----------+----------+--------------------+------+---+---+---+----------+
| id|first_name| last_name|               email|gender|oid|cid|pid|  order_ts|
+---+----------+----------+--------------------+------+---+---+---+----------+
|  1|     Kandy|Lindermann|klindermann0@gith...|Female|  1| 35| 50|  6/1/2022|
|  2|  Kahaleel|     Lalor|klalor1@infoseek....|  Male|  2| 93| 22|11/27/2022|
|  3|    Josiah|   Tolland|jtolland2@prnewsw...|  Male|  3| 87| 24| 9/27/2022|
|  4|  Rosamond|      Troy|     rtroy3@1und1.de|Female|  4| 94| 77|  3/6/2022|
|  5|    Aharon| McTrustam|amctrustam4@opens...|  Male|  5|  9| 92| 6/23/2022|
|  6|       Kat|    Skully|     kskully5@nhs.uk|Female|  6| 53| 85| 12/8/2022|
|  7|      Land|    Waltho|lwaltho6@friendfe...|  Male|  7| 44| 97| 3/29/2022|
|  8|     Trent|   Holwell|tholwell7@histats...|  Male|  8|  0|  5| 7/17/2022|
|  9|      Lalo|  Bernette|lbernette8@acquir...|  Male|  9| 15| 48|  4/2/2022|
| 10|   Elsbeth|     Grzes|egrzes9@aboutads....|Female| 10| 22| 63| 6/22/2022|
| 11|    Odella|    Scally|  oscallya@webmd.com|Female| 11| 59| 77|12/20/2022|
| 12|  Ruprecht| Mattisson|rmattissonb@alter...|  Male| 12| 17| 60| 3/30/2022|
| 13|   Stewart|   Pettman|spettmanc@comcast...|  Male| 13| 75| 92|  6/7/2022|
| 14|     Mable|     Biner|  mbinerd@reddit.com|Female| 14|  7| 65| 8/23/2022|
| 15| Frederich|  Fitzpayn|ffitzpayne@pinter...|  Male| 15| 14| 69|  8/2/2022|
| 16|    Elysee|   Qusklay|equsklayf@nsw.gov.au|Female| 16| 10|  0| 12/2/2022|
| 17|   Kerstin|   Kensley|kkensleyg@over-bl...|Female| 17| 85| 64| 1/14/2022|
| 18|    Lowell|  Yakunkin|lyakunkinh@arizon...|  Male| 18| 54| 10|  9/4/2022|
| 19|    Weidar|    Megany|wmeganyi@rakuten....|  Male| 19| 11| 24| 5/21/2022|
| 20|   Peterus|  Getcliff|pgetcliffj@csmoni...|  Male| 20| 39| 46|12/22/2022|
+---+----------+----------+--------------------+------+---+---+---+----------+
only showing top 20 rows

In [69]:
#@title Right Join
Right= df_cust.join(df_prod,df_cust.id == df_prod.pid,'right')
Right.show()

+---+----------+----------+--------------------+------+---+----------+-------+
| id|first_name| last_name|               email|gender|pid| pcategory|  price|
+---+----------+----------+--------------------+------+---+----------+-------+
|  1|     Kandy|Lindermann|klindermann0@gith...|Female|  1|      Toys|$289.41|
|  2|  Kahaleel|     Lalor|klalor1@infoseek....|  Male|  2|Industrial|$567.32|
|  3|    Josiah|   Tolland|jtolland2@prnewsw...|  Male|  3|  Clothing|$544.64|
|  4|  Rosamond|      Troy|     rtroy3@1und1.de|Female|  4|    Sports|$581.58|
|  5|    Aharon| McTrustam|amctrustam4@opens...|  Male|  5|  Clothing|$580.28|
|  6|       Kat|    Skully|     kskully5@nhs.uk|Female|  6|    Sports|$431.26|
|  7|      Land|    Waltho|lwaltho6@friendfe...|  Male|  7|Industrial|$725.90|
|  8|     Trent|   Holwell|tholwell7@histats...|  Male|  8|Industrial|$823.94|
|  9|      Lalo|  Bernette|lbernette8@acquir...|  Male|  9|  Outdoors|$418.75|
| 10|   Elsbeth|     Grzes|egrzes9@aboutads....|Female| 10|      Baby|$923.32|
| 11|    Odella|    Scally|  oscallya@webmd.com|Female| 11|    Beauty|$397.32|
| 12|  Ruprecht| Mattisson|rmattissonb@alter...|  Male| 12|   Jewelry| $22.91|
| 13|   Stewart|   Pettman|spettmanc@comcast...|  Male| 13|     Music|$485.45|
| 14|     Mable|     Biner|  mbinerd@reddit.com|Female| 14|    Beauty|$566.22|
| 15| Frederich|  Fitzpayn|ffitzpayne@pinter...|  Male| 15|    Beauty|$235.97|
| 16|    Elysee|   Qusklay|equsklayf@nsw.gov.au|Female| 16|     Shoes| $15.97|
| 17|   Kerstin|   Kensley|kkensleyg@over-bl...|Female| 17|  Outdoors|$494.29|
| 18|    Lowell|  Yakunkin|lyakunkinh@arizon...|  Male| 18|  Outdoors|$948.60|
| 19|    Weidar|    Megany|wmeganyi@rakuten....|  Male| 19|   Jewelry|$549.94|
| 20|   Peterus|  Getcliff|pgetcliffj@csmoni...|  Male| 20|  Clothing|$333.10|
+---+----------+----------+--------------------+------+---+----------+-------+
only showing top 20 rows

In [55]:
#@title Left Join
Left= df_cust.join(df_order,df_cust.id == df_order.oid,'left')
Left.show()

+---+----------+----------+--------------------+------+---+---+---+----------+
| id|first_name| last_name|               email|gender|oid|cid|pid|  order_ts|
+---+----------+----------+--------------------+------+---+---+---+----------+
|  1|     Kandy|Lindermann|klindermann0@gith...|Female|  1| 35| 50|  6/1/2022|
|  2|  Kahaleel|     Lalor|klalor1@infoseek....|  Male|  2| 93| 22|11/27/2022|
|  3|    Josiah|   Tolland|jtolland2@prnewsw...|  Male|  3| 87| 24| 9/27/2022|
|  4|  Rosamond|      Troy|     rtroy3@1und1.de|Female|  4| 94| 77|  3/6/2022|
|  5|    Aharon| McTrustam|amctrustam4@opens...|  Male|  5|  9| 92| 6/23/2022|
|  6|       Kat|    Skully|     kskully5@nhs.uk|Female|  6| 53| 85| 12/8/2022|
|  7|      Land|    Waltho|lwaltho6@friendfe...|  Male|  7| 44| 97| 3/29/2022|
|  8|     Trent|   Holwell|tholwell7@histats...|  Male|  8|  0|  5| 7/17/2022|
|  9|      Lalo|  Bernette|lbernette8@acquir...|  Male|  9| 15| 48|  4/2/2022|
| 10|   Elsbeth|     Grzes|egrzes9@aboutads....|Female| 10| 22| 63| 6/22/2022|
| 11|    Odella|    Scally|  oscallya@webmd.com|Female| 11| 59| 77|12/20/2022|
| 12|  Ruprecht| Mattisson|rmattissonb@alter...|  Male| 12| 17| 60| 3/30/2022|
| 13|   Stewart|   Pettman|spettmanc@comcast...|  Male| 13| 75| 92|  6/7/2022|
| 14|     Mable|     Biner|  mbinerd@reddit.com|Female| 14|  7| 65| 8/23/2022|
| 15| Frederich|  Fitzpayn|ffitzpayne@pinter...|  Male| 15| 14| 69|  8/2/2022|
| 16|    Elysee|   Qusklay|equsklayf@nsw.gov.au|Female| 16| 10|  0| 12/2/2022|
| 17|   Kerstin|   Kensley|kkensleyg@over-bl...|Female| 17| 85| 64| 1/14/2022|
| 18|    Lowell|  Yakunkin|lyakunkinh@arizon...|  Male| 18| 54| 10|  9/4/2022|
| 19|    Weidar|    Megany|wmeganyi@rakuten....|  Male| 19| 11| 24| 5/21/2022|
| 20|   Peterus|  Getcliff|pgetcliffj@csmoni...|  Male| 20| 39| 46|12/22/2022|
+---+----------+----------+--------------------+------+---+---+---+----------+
only showing top 20 rows

In [73]:
cd=spark.read.options(inferschema='true', sep='\t').csv("File:///content//drive//MyDrive//Pyspark Practice folder//cricket_data.txt")
cd.show()
cd.createOrReplaceTempView("cri")
spark.sql("select case WHEN _C0 <= 6 THEN 1 WHEN _C0 > 6 THEN 2 END OVER,SUM(_c1) from cri GROUP BY OVER").show()

+---+---+
|_c0|_c1|
+---+---+
|  1|  2|
|  2|  4|
|  3|  6|
|  4|  1|
|  5|  0|
|  6|  2|
|  7|  3|
|  8|  1|
|  9|  4|
| 10|  2|
| 11|  1|
| 12|  6|
+---+---+

+----+--------+
|OVER|sum(_c1)|
+----+--------+
|   1|      15|
|   2|      17|
+----+--------+